/*Start Global Ruels*/
:root {
    --main-color: #ff8b38;
    --main-alt-color: #333333;
    --second-color: #ccc;
    --main-transition: 0.3s;
    --padding-left: 12.5rem;
    --padding-right: 12.5rem;
}
:focus {
    outline: none;
}
* {
    box-sizing: border-box ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/*small*/
@media (min-width: 768) {
    .container {
        width: 750px;
    }
}
@media (min-width: 320) {
    .container {
        width: 750px;
    }
}
@media (min-width: 375) {
    .container {
        width: 750px;
    }
}
@media (min-width: 425) {
    .container {
        width: 750px;
    }
}
/*medium*/
@media (min-width: 768) {
    .container {
        width: 970px;
    }
}
@media (min-width: 992) {
    .container {
        width: 970px;
    }
}
/*large*/
@media (min-width: 1024) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 1200) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 1440) {
    .container {
        width: 1170px;
    }
}
/*End Global Ruels*/
/*Start Header*/
.header {
    background-color: black;
}
.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}
.header .container .image {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container img {
    height: 3rem;
}
.header .container .main-nav {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container .main-nav ul {
    display: flex;
}
.header .container .main-nav ul li {
    padding-left: 3.5rem;
    font-size: 1.5rem;
}
.header .container .main-nav ul li a {
    color: white;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header .container .main-nav ul li a:hover {
    color: var(--main-color);
}
.header .container .main-nav .toggole-menu {
    color: white;
    font-size: 40px;
    cursor: pointer;
}
@media (max-width: 1028px) {
    .header .container .main-nav ul {
        display: none;
    }
    .header .container .main-nav .toggole-menu {
        margin-right: -12.5rem;
}
    .header .container img {
        margin-left: -9.375rem;
    }
    .header .container .main-nav .toggole-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 65%;
        left: 0%;
        width: 100%;
        background-color: #45413b;
        z-index: 1;
    }
    .header .container .main-nav .toggole-menu:hover + ul li a {
        display: block;
        padding: 20px;
    }
    .header .container img {
        height: 2.75rem;
    }
}
@media (min-width: 1029px) {
    .header .container .main-nav .toggole-menu {
        display: none;
    }
}
/*End Header*/
/*Start AXURE*/
.axure {
    position: relative;
    min-height: 100vh;
    background-image: url("../imges/adam-borkowski-t2xPIQ7fXG0-unsplash.jpg");
    background-size: cover;
}
/* .axure::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ff8b3833;
} */
.axure .container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    color: white;
}
.axure .container .info .logo  {
    position: relative;
}
.axure .container .info .logo ::before {
    position: absolute;
    content: "";
    width: 6.25rem;
    height: 3px;
    background-color: white;
    bottom: -10px;
}
.axure .container .info .logo p {
    font-size: 2rem;
    line-height: 1.6;
    width: 80%;
}
.axure .container .information p {
    width: 500px;
    font-size: 18px;
    line-height: 1.7;
}
.axure .container .information button {
    margin-top: 20px;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border: 3px solid white;
    color: white;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.axure .container .information button:hover {
    background-color: var(--main-color);
}
.axure .container form {
    background-color: white;
    width: 40%;
    margin-top: 130px;
    margin-left: 250px;
}
.axure .container form p {
    color: black;
    text-align: center;
    font-size: 20px;
    background-color: #f5f5f5;
    padding: 20px 5px 5px;
    position: relative;
    top: -20px;
}
.axure .container form span {
    color: var(--main-color);
}
.axure .container form input {
    display: block;
    border: none;
    padding: 30px 2px 10px;
    margin-left: 20px;
    border-bottom: 1px solid #ccc;
    width: 300px;
}
.axure .container form button {
    margin-top: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border: none;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}
@media (max-width: 1028px) {
    .axure .container form {
        display: none;
    }
}
/*End AXURE*/
/*Start Social Media*/
.social {
    background-color: white;
}
.social .container {
    display: flex;
    justify-content: space-between;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}
.social .container .media h3 {
    font-size: 2.25rem;
    font-weight: bold;
}
.social .container .media p {
    width: 400px;
    font-size: 20px;
    color: #777;
    line-height: 1.6;
}
.social .container .icon {
    padding-top: 60px;
    cursor: pointer;
}
.social .container .icon i {
    font-size: 50px;
    padding-left: 50px;
    color: #777;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.social .container .icon i:hover {
    color: var(--main-color);
}
@media (max-width: 1028px) {
    .social .container {
        flex-direction: column;
    }
    .social .container .icon {
        margin-left: -50px;
    }
    .social .container .icon i {
        line-height: 1.7;
    }
}
/*End Social Media*/
/*Start Tab*/
.tab {
    background-color: #f5f5f5;
    box-shadow: -1px -3px 0 #cccccc;
}
.tab .container {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
    display: flex;
    justify-content: space-between;
}
.tab .container .tab1 {
    display: flex;
}
.tab .container .tab1 .button button {
    margin-bottom: 2px;
    border: none;
    color: white;
    background-color: #333333;
    padding: 50px;
    font-size: 22px;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.tab .container .tab1 .button button:hover {
    background-color: var(--main-color);
}
.tab .container .tab1 .button .active {
    background-color: var(--main-color);
}
.tab .container .infoo {
    margin-top: -1.857rem;
    color: #585b58;
    margin-left: 40px;
}
.tab .container .infoo p:first-child {
    font-size: 30px;
}
.tab .container .infoo p:nth-child(2) {
    width: 90%;
    color: #777;
    line-height: 1.7;
    font-size: 18px;
    padding-top: 15px;
}
.tab .container .infoo p:nth-child(3) {
    font-size: 18px;
    width: 70%;
    color: #777;
    line-height: 1.7;
}
.tab .container .infoo button {
    border: none;
    color: white;
    background-color: var(--main-color);
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.tab .container .images img {
    width: 400px;
}
@media (max-width: 1516px) {
    .tab .container {
        flex-direction: column;
    }
    .tab .container .infoo {
        margin-left: 100px;
    }
    .tab .container .infoo p {
        width: 480px;
    }
}
/*End Tab*/
/*Start Sub list section*/
.sub {
    padding: 12.5rem;
}
.sub .container {
    display: flex;
    justify-content: space-between;
}
.sub .container img {
    width: 60%;
}
.sub .container .sub-list {
    position: relative;
    left: 10%;
}
.sub .container .sub-list .moamen h3 {
    font-size: 30px;
    position: relative;
} 
.sub .container .sub-list .moamen h3::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 3px;
    background-color: var(--main-color);
    bottom: -30px;
}
.sub .container .sub-list .moamen p {
    margin-top: 70px;
    width: 100%;
    font-size: 20px;
    color: #777;
    line-height: 1.7;
}
.sub .container .icons {
    margin-top: 80px;
}
.sub .container .icons .iconss {
    display: flex;
}
.sub .container .icons .iconss {
    margin-bottom: 30px;
}
.sub .container .icons .iconss .infooo {
    margin-left: 40px;
    margin-top: -20px;
}
.sub .container .icons .iconss i {
    font-size: 40px;
    color: var(--main-color);
}
.sub .container .icons .infooo p:first-child {
    font-size: 18px;
}
.sub .container .icons .infooo p:last-child {
    color: #777;
    line-height: 1.7;
}
@media (max-width: 1516px) {
    .sub .container img {
        display: none;
    }
}
/*End Sub list section*/
/*Start Standard Picture*/
.standard {
    background-color: #f5f5f5;
}
.standard .container {
    padding: 100px;
    display: flex;
    justify-content: space-between;
}
.standard .container .info {
    text-align: center;
}
.standard .container .pragraph p:first-child {
    padding-top: 20px;
    width: 480px;
    margin: 0 auto;
    color: #777;
    line-height: 1.7;
}
.standard .container .pragraph p:last-child {
    padding-top: 20px;
    color: #777;
    width: 380px;
    margin: 0 auto;
    line-height: 1.7;
}
.standard .container img {
    margin-top: -20px;
}
@media (max-width: 1516px) {
    .standard .container  {
        flex-direction: column;
    }
}
/*End Standard Picture*/
/*Start About*/
.about {
    padding: 100px;
}
.about .container .info {
    text-align: center;
}
.about .container .info h2 {
    position: relative;
}
.about .container .info h2::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.about .container .info p {
    padding-top: 1.875rem;
    color: #777;
}
.about .container-small {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    text-align: center;
    margin-top: 100px;
}
.about .container-small .box i {
    font-size: 2.5rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about .container-small .box p {
    color: #777;
    line-height: 1.7;
}
/*End About*/
/*Start Pricing*/
.pricing {
    background-color: #f5f5f5;
    padding: 100px;
}
.pricing .info {
    text-align: center;
}
.pricing .info h2 {
    font-size: 1.875rem;
}
.pricing .info p {
    padding-top: 1.25rem;
    color: #777;
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    text-align: center;
}
.pricing .container .box {
    margin-top: 3.8rem;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.pricing .container .box:hover {
    transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
}
.pricing .container .box .doller {
    background-color: #333333;
    color: white;
    padding-bottom: 1.875rem;
    position: relative;
    padding-top: 5px;
}
.pricing .container .box .doller::before {
    position: absolute;
    content: "";
    width: 100%;
    height: .125rem;
    background-color: white;
    left: 0;
    bottom: 300px;
}
.pricing .container .box .moamen::before {
    position: absolute;
    content: "";
    width: 100%;
    height: .125rem;
    background-color: white;
    left: 0;
    bottom: 374px;
}
.pricing .container .box .doller .number {
    font-size: 5rem;
}
.pricing .container .box .active {
    background-color: var(--main-color);
    padding: 20px;
    position: relative;
    top: 46px;
}
.pricing .container .top {
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
}
.pricing .container .top:hover {
    transform: translateY(-52px);
    -webkit-transform: translateY(-52px);
    -moz-transform: translateY(-52px);
    -ms-transform: translateY(-52px);
    -o-transform: translateY(-52px);
}
.pricing .container .reactive {
    border-bottom: 5px solid var(--main-color);
}
.pricing .container ul {
    background-color: white;
    margin-top: -10px;
}
.pricing .container ul li {
    position: relative;
    padding: 30px;
}
.pricing .container ul li:not(:last-child):before {
    position: absolute;
    content: "";
    width: 111%;
    height: 1px;
    background-color: #DDD;
    left: -40px;
    top: 76px;
}
/*End Pricing*/
/*Start Review*/
.review {
    background-color: white;
    padding: 100px;
}
.review .information {
    text-align: center;
}
.review .information p:first-child {
    font-size: 30px;
    position: relative;
}
.review .information p:first-child::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    background-color: var(--main-color);
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.review .information p:last-child {
    padding-top: 20px;
    color: #777;
}
.review .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
}
.review .container .box {
    margin-top: 2.5rem;
}
.review .container .box .pp {
    background-color: #f5f5f5;
    padding: 40px;
    line-height: 1.7;
    color: #777;
    position: relative;
}
.review .container .box .pp::before {
    position: absolute;
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: #F5F5F5 transparent transparent transparent;
    bottom: -19px;
}
.review .container .box .cont img {
    width: 100px;
    max-width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.review .container .cont {
    display: flex;
}
.review .container .cont .info {
    margin-left: 20px;
}
/*End Review*/
/*Start Stylsh*/
.stylsh {
    background-image: url("../imges/katy-cao-FKzEQw-QaiU-unsplash.jpg");
    background-size: cover;
    height: 70vh;
}
.stylsh .container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: white;
}
.stylsh .container h2 {
    font-size: 40px;
    position: relative;
}
.stylsh .container h2::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 4px;
    background-color: white;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.stylsh .container p {
    padding-top: 60px;
}
.stylsh .container button {
    margin-top: 50px;
    padding: 20px;
    color: white;
    background-color: transparent;
    border: none;
    border: 1px solid white;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.stylsh .container button:hover {
    background-color: var(--main-color);
}
/*End Stylsh*/
/*Start contact*/
.contact {
    padding: 100px;
    background-color: white;
}
.contact .info {
    text-align: center;
}
.contact .info h2 {
    font-size: 33px;
    position: relative;
}
.contact .info h2::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 4px;
    background-color: var(--main-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.contact .info p {
    color: #777;
}
.contact form {
    display: flex;
    justify-content: space-between;
}
.contact form .form1 input {
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #CCC;
    padding: 5px;
    width: 600px;
}
.contact form .form2 textarea {
    width: 650px;
    height: 150px;
    resize: none;
    border: none;
    border-bottom: 1px solid #CCC;
}
@media (max-width: 1516px) {
    .contact form {
        flex-direction: column;
    }
}
/*End contact*/
/*Start Footer*/
.footer {
    background-color: black;
    padding: 30px;
    color: white;
}
.footer  .container {
    text-align: center;
}
.footer  .container .icon i {
    padding: 0 30px;
    font-size: 30px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    cursor: pointer;
}
.footer  .container .icon i:hover {
    color: var(--main-color);
}
.footer  .container .info p:first-child {
    padding-top: 20px;
    color: #777;
}
.footer  .container .info p:last-child  {
    padding-top: 15px;
}
.footer  .container .info span {
    font-size: 22px;
    color: var(--main-color);
}
/*End Footer*/